[submodule "subrepo_directory/subrepo1"]
	path = subrepo_directory/subrepo1
	url = https://github.com/RenesasMan/subrepo1.git
[submodule "subrepo_directory/subrepo2"]
	path = subrepo_directory/subrepo2
	url = https://github.com/RenesasMan/subrepo2.git
[submodule "subrepo_directory/subrepo3"]
	path = subrepo_directory/subrepo3
	url = https://github.com/RenesasMan/subrepo3.git
[submodule "subrepo_directory/subrepo3_new_branch"]
	path = subrepo_directory/subrepo3_new_branch
	url = https://github.com/RenesasMan/subrepo3.git
